body {
    margin: 0;
}
.wrapper{
    display: flex;
}
.front, .back {
    width: 400px;
    height: 250px;
    background-color: rgb(44, 43, 43);
    margin: 20px;
    border-radius: 10px;
}
.front-header {
    display: flex;
    justify-content: space-between;
}
.front-header {
    padding: 8px;
 }
.bank-logo {
    width: 180px;
    height: 50px; 
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    line-height: 50px;

}
.premium-logo {
    width: 100px;
    height: 50px;
    color: whitesmoke;
}
.ukrsib {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 15px;
    margin-top: -7px;
}
.premium {
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: none;
}
.chip {
    background-color: rgb(247, 194, 97);
    height: 50px;
    width: 70px;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 8px;
}
.card-number p{
    text-align: center;
    color:silver;  
    font-family: 'Special Elite';
    font-size: 18px;
    letter-spacing: 0.5em;
    margin: 0;
}
.card-number {
    margin: 15px 0 8px 0;
}
.stroke {
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
}
.item-1 {
    font-size: 12px;
    margin: 0;
}
.item-2 {
    font-size: 10px;
    margin: 0;
    width: 80px;
}
.item-3 {
    font-size: 14px;
    letter-spacing: 0.25em;
    margin: 0;
}
.valid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date, .name{
    font-family: 'Special Elite', cursive;
    font-size: 14px;
    color: silver;
    text-transform: uppercase;
    word-spacing: 0.8em; 
}
.mastercard-logo {
    width: 80px;
    height: 45px;
    margin: 3px auto;
    display: flex;
    position: relative;
    padding: 0;
}
.yellow {
    background-color: rgb(247, 194, 97);
    opacity: 0.7;
    height: 40px;
    width: 100px;
    border-radius: 15px;
}
.red {
    background-color: red;
    opacity: 0.7;
    height: 40px;
    width: 100px;
    margin-left: -15px;
    border-radius: 15px;
}
.mastercard {
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    position: absolute;
    top: 11px;
    left: 8px;
}
.name {
    position: absolute;
    bottom: 5px;
    left: 15px;
}
.front {
    position: relative;
}
.name p{
    margin: 0;
}
/* Styles for backside */
.back {
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;;
    font-size: 10px;
}
.back-header {
   padding: 8px;
   text-align: center;
}
.back-header p {
    margin: 0;
    padding: 0;
}
.black-line {
    height: 50px;
    background-color: black;
    margin-bottom: 10px;
}
.white-line {
    height: 35px;
    background-color: whitesmoke; 
    width: 270px;
    margin-left: 15px;
    color: black;
    font-style: italic;
    text-align: right;
    line-height: 35px;
    font-size: 14px;
}
.white-line p{
    margin: 0;
    padding-right: 5px;
}
.signature {
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-left: 15px;
}
.notvalid {
    padding: 10px;
}
.wrap-info {
    display: flex;
    justify-content: space-around;
    font-size: 0.7em;
}
.gologram {
    background-color: silver;
    height: 55px;
    width: 80px;
    margin: 10px;
}
.info {
    width: 45%;
}
.paypass {
    background-color: silver;
    height: 40px;
    width: 50px;
    margin: 30px 0;
}
/* Forms Styles */
.form {
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 14px;
    background-color: rgb(44, 43, 43);
    width: 400px;
    border-radius: 10px;
}
.form div {
    margin: 15px;
}
input[value] {
    color: rgb(167, 167, 167);
}
input {
    border-radius: 2px;
}

.submit-button {
    background-color: grey;
    height: 30px;
    width: 70px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}